<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header') %>

        <title><%= title %></title>
        <link rel="stylesheet" href="/dist/bootstrap.css" />
    </head>

    <body class="body404">
        <%- include('../partials/navbar/nav-bar') %>
        <div class="text-center mb-4">
            <img src="img/404-error-1.png" alt="" style="width: 40%" />
            <h1 class="display-4 text-center">404 - Page not found.</h1>
        </div>
    </body>
    <%- include('../partials/footer') %>
</html>
