<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
      </head>
    <%- include('../partials/header') %>
<body>

    <center><img src="img/404-error-1.png" alt="" style="width: 40%;">
    <h1 class="display-4">Ups... Página não encontrada.</h1></center>
    
</body>
<%- include('../partials/footer') %>
</html>