<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <title><%- pgTitle %></title>
    <link rel="stylesheet" href="/dist/bootstrap.css" />

    <body class="bodyHome" style="height: 100%">
        <%- include('../partials/navbar/nav-bar') %>
        <div style="height: 100%">
            <div id="productList" style="width: 100%"></div>
        </div>
    </body>
    <%- include('../partials/footer') %>
</html>
