<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="/dist/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/product-details.css" />

    <style>
        .otherElements.normal {
            filter: brightness(40%);
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        }
        .otherElements {
            opacity: 1;
        }
    </style>
    <body>
        <%- include('../partials/navbar/nav-bar') %>

        <div id="otherElements" class="otherElements" style="height: auto">
            <div id="product-details"></div>
        </div>
    </body>
    <%- include('../partials/footer') %>
</html>
