body {
    color: black;
    text-align: center;
}
.pageTitle {
    margin: 20px;
}

.mt-50 {
    margin-top: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}

.bg-teal-400 {
    background-color: #26a69a;
}

a {
    text-decoration: none !important;
}

.fa {
    color: red;
}

.owl-item {
    transition: opacity 0.5s;
}
.item {
    transition: is-loading 2s;
}

@media screen and (min-width: 1335px) {
    .ativo {
        opacity: 0.6;
        height: 10%;
        transition: opacity 0.5s;
    }

    .owl-item:not(.active) {
        opacity: 0.9;
        font-weight: bolder;
    }
    .ativo .textprice {
        font-weight: lighter;
        transition: font-weight 0.5s;
    }

    .owl-item:not(.active) .textprice {
        font-weight: bolder;
        opacity: 0.4;
        font-weight: bolder;
    }
    .productOnList {
        transition: box-shadow 1s;
    }
    .productOnList:hover {
        box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.817);
    }
}

i {
    text-decoration: none;
}

.page-content.normal {
    filter: brightness(40%);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.page-content {
    opacity: 1;
}

.bx-left-arrow-alt {
    font-size: 30px;
    transition: text-shadow 0.3s;
}
.bx-right-arrow-alt {
    font-size: 30px;
    transition: text-shadow 0.3s;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
}

.owl-prev {
    left: -5rem;
}

.owl-next {
    right: -5rem;
}

.bx-left-arrow-alt:hover,
.bx-right-arrow-alt:hover {
    border: none;
    text-shadow: 0 0 11px rgba(33, 33, 33, 0.6);
}

.caroussel-category:hover {
    color: black;
}

.item-loading {
    position: relative;
    overflow: hidden;
}
.item-loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: translateX(-100%);
    animation: loading 1.5s infinite linear;
}
@keyframes loading {
    to {
        transform: translateX(100%);
    }
}
