.price {
    color: #dc3545;
    font-weight: bold;
    font-size: 40px;
}
.img-product {
    max-width: 80%;
}

h1 {
    font-weight: bolder;
    font-size: 30px;
    text-align: left;
}

.prodDetails {
    box-shadow: rgba(232, 232, 239, 0.2) 0px 7px 29px 0px;
    padding: 2%;
    height: fit-content;
    background-color: white;
}
.prodDetailsImgTitle {
    padding: 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.addToCartDetails {
    width: 30vh;
}

@media screen and (max-width: 575px) {
    .price-stock {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }
    .price {
        margin-left: 10px;
    }
}
