.price {
    color: #dc3545;
    font-weight: bold;
    font-size: 40px;
}
.img-product {
    max-height: 300px;
}

h1 {
    font-weight: bolder;
    font-size: 30px;
    text-align: left;
}

.prodDetails {
    box-shadow: rgba(232, 232, 239, 0.2) 0px 7px 29px 0px;
    padding: 2%;
    height: fit-content;
    background-color: white;
}
.prodDetailsImgTitle {
    padding: 2%;
    background-color: white;
}

.addToCartDetails {
    width: 30vh;
}
