@font-face {
    font-family: quicksand;
    src: url('../dist/quicksand.css');
}

body {
    background: url('../img/background.avif');
    color: white;
}

.conProductShow {
    width: 70%;
    height: fit-content;
    padding: 5vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 80vh;
    overflow: hidden;
    color: black;
}

.conProductShow img {
    padding: 20px;
    max-height: 450px;
    object-fit: cover;
}

.body404 {
    color: #12182f;
}

.productsList {
    color: black;
}

.pageTitle {
    margin: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.bg-teal-400 {
    background-color: #26a69a;
}

a {
    text-decoration: none !important;
}

.fa {
    color: red;
}

.bx-left-arrow-alt {
    font-size: 30px;
    transition: text-shadow 0.3s;
}

.bx-right-arrow-alt {
    font-size: 30px;
    transition: text-shadow 0.3s;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
}

.owl-prev {
    left: -5rem;
}

.owl-next {
    right: -5rem;
}

.bx-left-arrow-alt:hover,
.bx-right-arrow-alt:hover {
    border: none;
    text-shadow: 0 0 11px rgba(33, 33, 33, 0.6);
}

.featuredProds {
    padding: 20px;
    background: linear-gradient(rgba(12, 2, 38, 0.554), rgba(32, 19, 19, 0.3)),
        url('../img/background-featured.avif') no-repeat;
    background-size: cover;
}

@media (min-width: 656px) {
    .loginIcon {
        display: none;
    }
    .loginFull {
        display: inline-block;
    }
    .logoNav {
        width: 160px;
    }
}

@media (max-width: 655px) {
    .loginIcon {
        display: inline-block;
    }
    .loginFull {
        display: none;
    }
    .logoNav {
        width: 160px;
    }
}

@media (max-width: 465) {
    .logoNav {
        width: 50px;
    }
}
