body {
  background-color: #fdfdfd;
  color: white; }

.conProductShow {
  width: 70%;
  height: fit-content;
  background-color: rgba(32, 43, 84, 0.63);
  padding: 5vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 80vh;
  overflow: hidden; }

.conProductShow img {
  padding: 20px;
  width: 450px;
  height: 450px;
  object-fit: cover; }
