body {
    color: black;
    text-align: center;
}
.pageTitle {
    margin: 20px;
}

.mt-50 {
    margin-top: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}

.bg-teal-400 {
    background-color: #26a69a;
}

a {
    text-decoration: none !important;
}

.fa {
    color: red;
}

.owl-item {
    transition: opacity 0.5s;
}

.ativo {
    opacity: 0.4;
    height: 200px;
    transition: opacity 0.5s;
}

.owl-item:not(.active) {
    opacity: 0.4;
    font-weight: lighter;
}
.ativo .textprice {
    font-weight: lighter;
    transition: font-weight 0.5s;
}

.owl-item:not(.active) .textprice {
    font-weight: lighter;
    opacity: 0.4;
    font-weight: lighter;
}
.productOnList {
    transition: box-shadow 1s;
}
.productOnList:hover {
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.817);
}

i {
    text-decoration: none;
}
