<link rel="stylesheet" href="stylesheets/cartstyle.css" />
<div data-cart="true" class="container isCart">
    <div data-cart="true" class="shopping-cart isCart">
        <div data-cart="true" class="shopping-cart-header">
            <img src="img/logo-dark.png" alt="" class="mb-2" style="max-width: 100px" /> <br />

            <span data-cart="true" style="font-size: 17px"
                >Shopping Cart <% if(CARTPRODUCTS){%>(<%- CARTPRODUCTS.length %>)<%} %></span
            >
        </div>

        <!--end shopping-cart-header -->
        <div data-cart="true" id="productsListCart"></div>

        <a href="#" data-cart="true" class="btn btn-dark btn-block mt-50">Checkout</a>
    </div>
    <!--end shopping-cart -->
</div>
<script src="../../public/js//cart.js"></script>
