<link rel="stylesheet" href="stylesheets/cartstyle.css" />
<div data-cart="true" class="container isCart">
    <div data-cart="true" class="shopping-cart isCart">
        <!--end shopping-cart-header -->
        <div data-cart="true" id="productsListCart"></div>

        <a href="#" data-cart="true" class="btn btn-dark btn-block mt-50">Checkout</a>
    </div>
    <!--end shopping-cart -->
</div>
