<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/logoico.png" />
    <link rel="stylesheet" href="dist/bootstrap.min.css" />
    <link rel="stylesheet" href="/dist/boxicons/css/boxicons.css" />
    <link rel="stylesheet" href="/stylesheets/sassstyle.css" />
    <link rel="stylesheet" href="/stylesheets/product-caroussel.css" />
    <link rel="stylesheet" href="/stylesheets/product-details.css" />
</head>
<div class="loader-container">
    <div class="spinner"></div>
</div>
