<!-- Button trigger modal -->

<!-- Modal -->
<div
    class="modal fade"
    id="modalLogin"
    style="color: black"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" style="padding: 40px">
                <h3 class="display-4" style="font-size: 30px; font-weight: 600">LOGIN TO YOUR ACCOUNT</h3>
                <br />
                <form id="loginForm">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-12">
                            <input type="mail" class="form-control" id="loginEmail" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="loginPassword" />
                        </div>
                    </div>
                    <br />

                    <button type="sumbit" class="btn btn-danger btn-block" style="padding: 10px">Sign in</button>
                </form>
                <!-- Submit button -->
            </div>
        </div>
    </div>
</div>
