<%- include('../partials/modal-login') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger navbar-expand" style="height: 120px">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-weight: 500; font-size: 25px"
            ><img class="logoNav" src="/img/logo.png" alt=""
        /></a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <!--<a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <% if (locals.isLoggedIn == true) { %>
                <div class="text-center">
                    <span style="font-size: 20px; width: 0px" class="bx bxs-user btn"></span>
                    <span style="font-size: 15px; color: white" class="btn">Welcome, <%= customer.first_name %>!</span>
                    <button class="btn btn-light my-2 my-sm-0 btn-block" type="button" id="btnLogout">Logout</button>
                </div>
                <div class="m-4">
                    <a href="#" id="cart"
                        ><span id="cart-toggle" style="font-size: 40px; color: white" class="bx bx-cart"></span>
                    </a>
                </div>
                <%}else{ %>
                <div class="loginFull">
                    <span style="text-align: center; color: white" class="btn">Log in to your account</span>
                    <a class="btnLoginModal"
                        ><button class="btn btn-light my-2 my-sm-0 btn-block" type="button">Login/Register</button>
                    </a>
                </div>
                <div class="loginIcon">
                    <a class="btnLoginModal"
                        ><span style="font-size: 30px; width: 0px; color: white" class="mr-3 bx bxs-user btn"></span
                    ></a>
                </div>
                <div class="m-4 mt-1">
                    <a href="#" id="cart">
                        <span id="cart-toggle" style="font-size: 40px; color: white" class="bx bx-cart"></span>
                    </a>
                </div>
                <%} %>
            </form>
        </div>
    </div>
</nav>
<%- include('./cart-dropdown.ejs') %>
