<div
    class="offcanvas offcanvas-start"
    data-bs-scroll="false"
    data-bs-backdrop="true"
    tabindex="-1"
    id="offcanvasScrolling"
    style="margin-top: 120px; width: 320px; position: fixed; box-sizing: border-box; height: auto"
>
    <div class="offcanvas-body">
        <ul
            data-cart="true"
            class="categoryList w-auto h-auto"
            style="margin-left: -30px; overflow-y: scroll"
            id="sidenav-items"
        ></ul>
    </div>
</div>
