<div
    class="offcanvas offcanvas-start"
    data-bs-scroll="false"
    data-bs-backdrop="true"
    tabindex="-1"
    id="offcanvasScrolling"
    style="
        margin-top: 80px;
        width: 320px;
        position: fixed;
        box-sizing: border-box;
        height: auto;
        -webkit-box-shadow: 7px -2px 41px -14px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 7px -2px 41px -14px rgba(0, 0, 0, 0.75);
        box-shadow: 7px -2px 41px -14px rgba(0, 0, 0, 0.75);
    "
>
    <div class="offcanvas-body">
        <ul
            data-cart="true"
            class="categoryList w-auto h-auto"
            style="margin-left: -30px; overflow-y: auto"
            id="sidenav-items"
        ></ul>
    </div>
</div>
