<link rel="stylesheet" href="stylesheets/cartstyle.css" />

<div
    class="offcanvas offcanvas-end"
    data-bs-scroll="false"
    data-bs-backdrop="true"
    tabindex="-1"
    id="offcanvasCart"
    style="
        margin-top: 80px;
        width: 400px;
        box-sizing: border-box;
        -webkit-box-shadow: -18px -1px 41px -14px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -18px -1px 41px -14px rgba(0, 0, 0, 0.75);
        box-shadow: -18px -1px 41px -14px rgba(0, 0, 0, 0.75);
    "
>
    <div class="offcanvas-body">
        <div data-cart="true" class="container isCart">
            <div data-cart="true" class="shopping-cart isCart">
                <!--end shopping-cart-header -->
                <div data-cart="true" id="productsListCart" style="overflow-y: auto"></div>
            </div>
            <!--end shopping-cart -->
        </div>
    </div>
</div>
