<div>
    <div class="mr-4 container">
        <h3 class="fw-bold mb-4">Your Settings</h3>

        <div class="fs-6">
            <button class="btn btn-dark btn-block mt-3" style="height: 50px; border-radius: 15px">Save</button>
        </div>
    </div>
</div>
